*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #01303f;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  background-color: #d4f0fc;
  background-image: url("https://cdn.wallpapersafari.com/8/23/b1NjUq.png");
}

body {
  width: 60vw;
  height:100vh;
  margin: 0 auto;
}

h1 {
  padding: 1rem 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: #01303f;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  font-style: italic;
  color: #02577a;
}

p {
  font-size: 0.8rem;
  padding-top: 1rem;
}

a {
  padding-top: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  color: #01303f;
}

.blurb {
  color: #01303f;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding: 2rem;
  background-color: #02577a;
}

.content {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template: repeat(3, 20vw) / repeat(2, 25vw);
  gap: 1vw;
  margin-bottom: 150px;
  background-color: white;
}

.subhead1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subhead2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subhead3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img1 {
  background-image: url("https://i.pinimg.com/1200x/7a/0a/49/7a0a4974fbc48def7a8f184b2948badc.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  margin: 1vw;
  border: 3px solid #02577a;
}

.img2 {
  background-image: url("https://i.pinimg.com/1200x/ed/93/f9/ed93f9ee550b749c6b65f1d99485774d.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  margin: 1vw;;
  border: 3px solid #02577a;
}

.img3 {
  background-image: url("https://i.pinimg.com/736x/19/e5/49/19e549ad4b6581ad2950febdda9b6667.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  margin: 1vw;
  border: 3px solid #02577a;
}
