*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #01303f;
  font-family: helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #d4f0fc;
}

body {
  width: 480px;
  margin: 0 auto;
}

h1 {
  padding: 1rem 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: #01303f;
}

h2 {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 700;
  text-decoration: underline;
  font-style: italic;
  color: #02a9f7;
}

p {
  font-size: 0.8rem;
  padding: 1rem;
}

a {
  padding: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  color: #01303f;
}

.blurb {
  color: #01303f;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 2rem;
}

.content {
  display: grid;
  grid-template: repeat(3, 300px) / repeat(2, 240px);
  margin-bottom: 150px;
  background-color: white;
}

.img1 {
  background-image: url("https://i.pinimg.com/1200x/7a/0a/49/7a0a4974fbc48def7a8f184b2948badc.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  margin: 10px;
}

.img2 {
  background-image: url("https://i.pinimg.com/1200x/ed/93/f9/ed93f9ee550b749c6b65f1d99485774d.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  margin: 10px;
}

.img3 {
  background-image: url("https://i.pinimg.com/736x/8b/51/cb/8b51cb3b2aa40583ee4e8be3f6f80f43.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  margin: 10px;
}
